:root {
  /* fonts-змінні з шрифтами */
  --main-font: "Roboto", san-serif;
  --secondary-font: "Raleway", san-serif;

  /* text color */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;

  /* bg colors */
  --light-bg-cl: #ffffff;
  /* others */
  --bg-medium-cl: #f5f4fa;
  --phone-cl: #757575;
  --hero-cl: #2f303a;
  --logo-dark-cl: #000000;
  --indent: 30px;
  --items: 4;
}
/*  */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* reset styles*/
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Base styles */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* 
   outline: 2px solid red;
  outline-offset: -2px;  */
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  cursor: pointer;
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: #2196f3;
  border-radius: 4px;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}

.btn-link {
  padding: 6px 22px;
  color: #212121;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
}
.btn-link:hover,
.btn-link:focus {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}
.btn-link-current {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}
/* Header section */
.header {
  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-txt-cl);
  text-decoration: none;
}

.logo-dark {
  color: var(--logo-dark-cl);
}

.logo-light {
  color: var(--light-bg-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-right: auto;
  gap: 50px;
  align-items: center;
  flex-direction: row;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.header-link-current {
  color: var(--accent-txt-cl);
}

.header-maito {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.icon-nav {
  fill: currentColor;
}
.header-maito:hover,
.header-maito:focus {
  color: var(--accent-txt-cl);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.title {
  text-transform: uppercase;
}
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-cl);
}
.hero-title {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;

  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-bg-cl);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  display: flex;
  gap: 30px;
  margin: 0;
}
.item {
  width: 270px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-txt-cl);
}
.doing-section {
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.title-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--phone-cl);
}

.team-section {
  background-color: #f5f4fa;
}
.team-item {
  /* flex-basis: calc((100% - 30px * 3) / 4); */
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team-text {
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--phone-cl);
}

.team-list {
  display: flex;
  gap: var(--indent);

  background-color: var(--bg-medium-cl);
}
.team-wrapper {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.work-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-link {
  display: inline-block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.subtitle {
  margin-bottom: 4px;
}
.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.subtitle-work {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--phone-cl);
}

.address {
  gap: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-bg-cl);
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.dark-bg {
  background-color: var(--hero-cl);
}

/* Work 3 */

/* Частковий ресет стилей браузера start*/
a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

/* Частковий ресет стилей браузера end */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0;
  --items: 3;
}

.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
  margin-bottom: 34px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 9px;
}
.contacts-item {
  margin-bottom: 9px;
}
.contacts-item:last-child {
  margin-bottom: 0;
}
/* ДЗ 04 */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img-hw04/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Socials icons*/
.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
}
.networks {
  fill: #ffffff;
}
.networks:hover,
.networks:focus {
  background-color: #2196f3;
}
.networks:hover .socials-icon,
.networks:focus .socials-icon {
  fill: #ffffff;
}
.icons-link {
  fill: #afb1b8;
}
.icons-link {
  background: #ffffff;
}
.icons-link:hover,
.icons-link:focus {
  background-color: #2196f3;
}
.icons-link:hover .socials-icon,
.icons-link:focus .socials-icon {
  fill: #ffffff;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-left {
  margin-right: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients-section {
  display: flex;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-icon {
  fill: #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}
/* Портфолио 04 */
